html,
body,
div,
span,
a,
ul,
ol,
li,
dl,
dt,
dd,
img,
i,
table,
thead,
tbody,
tr,
th,
td {
    margin: 0;
    padding: 0
}

ul,
ol,
li {
    list-style: none;
}

html,
body {
  padding-bottom: 0;
  min-height: 100%;
  font-family: 'Open Sans','Segoe UI';
  font-size: 13px;
  color: #444;
}
